main {
    background-color: $body-background-color;
}

.main-title {
    font-family: $main-font-family;
    font-size: 50px;

    &--center {
        text-align: center;
    }
}

.done {
    span {
        text-decoration:line-through;
    }
}

.control-panel {
    position: fixed;
    width: 300px;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $deep-blue;
}

.filters {
    display: flex;
    flex-direction: column;
}