.container {
    max-width: $container-width;
    width: 100%;
    padding: 0 $container-horizontal-paddings;
    height: calc(100vh - 65px);
    margin: 0 auto;

    &__list {
        display: flex;
        justify-content: space-between;

    }
}

.form-container {
    display: flex;
    justify-content: center;
    max-width: 450px;
    width: 100%;
}